.internships-section {
    text-align: center;
    margin-top: 70px;
}

.internships-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333; /* Dark text color for light mode */
    font-weight: 600;
}

.internships-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.internship-item {
    background: #f3f3f3; /* Light background for light mode */
    padding: 40px 40px;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
}

.internship-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.internship-logo {
    width: 60px;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.internship-details {
    border-radius: 50px;
}

.internship-details h3 {
    margin-top: 0;
    font-size: 1.75rem;
    color: #0073e6; /* Color for headings in light mode */
    margin-bottom: 10px;
}

.internship-details p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555; /* Color for text in light mode */
}

.internship-details p strong {
    font-size: 1.25rem;
    color: #333; /* Color for strong text in light mode */
}

/* Dark Mode Support */
.dark-mode .internships-section h2 {
    color: #e2e8f0; /* Light color for headings in dark mode */
}

.dark-mode .internship-item {
    background: #2d3748; /* Dark background for internship items in dark mode */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow for dark mode */
}

.dark-mode .internship-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Darker hover shadow */
}

.dark-mode .internship-details h3 {
    color: #63b3ed; /* Light color for headings in dark mode */
}

.dark-mode .internship-details p {
    color: #e2e8f0; /* Lighter text color for details in dark mode */
}

.dark-mode .internship-details p strong {
    color: #edf2f7; /* Light color for highlighted text in dark mode */
}
