/* src/components/Hero.css */
#hero {
  padding: 2rem;
  margin-bottom: 3rem;
  background: url('../assets/soitlong.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  
  margin-top: 90px;
  height: 90vh;
}

#hero .flex-1 {
  
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#hero h4 {
  
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

#hero h2 {
  text-align: center;
  color: #008d92; /* Emerald color */
  font-size: 3rem;
  font-weight: bold;
}

.tex {
  color: #e2e8f0;
  text-align: center;
  font-size: 1.125rem;
  z-index: 1000;
  top: 100px;
}

#hero p {
  background-color: #00000023;
  color: #ffffff;
  font: bold;
  
  font-family: cursive;
  text-align: center;
  font-size: 2rem;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  opacity: 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-image:hover {
  transform: translateY(-5px);
   /* Added shadow on hover */
}

/* Responsive Styles */
@media (max-width: 1024px) {
  #hero {
    flex-direction: column;
  }

  #hero h2 {
    font-size: 2.5rem;
  }

  .profile-image {
    margin-top: 16px; /* Adjusted spacing */
  }
}

@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #hero h2 {
    font-size: 2rem;
  }

  #hero p {
    font-size: 1.5rem;
  }

  .profile-image {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 480px) {
  #hero {
    padding: 0 5px;
    margin-top: 50px;
    margin-bottom: 5px;
    
  }

  #hero .flex-1{
    margin-top: 400px;
    background-color: #0000008e;
    border-radius: 50px;
  }

  #hero h2 {
    font-size: 1.8rem;
  }

  #hero h4 {
    font-size: 1rem;
  }

  #hero p {
    color: #e2e8f0;
    font-size: 1.2rem;
  }

  .profile-image {
    width: 400px;
    margin-top: 12px;
  }
}

/* Dark Mode Support */
.dark-mode #hero {
  padding: 2rem;
  margin-bottom: 3rem;
  background: url('../assets/soitlong.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  
  margin-top: 90px;
  height: 90vh;
}

.dark-mode #hero h2 {
  color: #5ed8db; /* Lighter Emerald color for dark mode */
}

.dark-mode #hero h4, 
.dark-mode #hero p {
  color: #e2e8f0; /* Lighter text color in dark mode */
}

.dark-mode .profile-image {
  border: 2px solid #e2e8f000; /* Light border for profile image in dark mode */
}

.dark-mode .profile-image:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Darker shadow in dark mode */
}


.download-resume-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #004680; /* Custom theme color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.download-resume-button:hover {
  background-color: #6200ea; /* Darker shade for hover */
}
